name: npm

on:
  push:
    branches:
    - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  env:
    runs-on: ubuntu-24.04
    steps:
      - name: Check if NPM_TOKEN is set
        run: |
          if [ -z "${{ secrets.NPM_TOKEN }}" ]; then
            echo "NPM_TOKEN is not set, skipping job."
            exit 1
          fi
  npm:
    runs-on: ubuntu-24.04
    needs: [ env ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
      - name: Setup Node
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
      - name: Install dependencies
        run: npm ci
      - name: Publish to npm
        uses: JS-DevTools/npm-publish@v4.1.5
        with:
          token: ${{ secrets.NPM_TOKEN }}
